.lakers {
  /* background-image: url("../../../img/llnologo4k1600.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  /* height: 100vh; */
  background-attachment: fixed;
  /* padding: 1%; */
}
