.mavericks-containers {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header-content-mavericks {
  text-align: center;
  margin-bottom: 30px;
}

.header-title-mavericks {
  color: #00538c; /* Синий Dallas Mavericks */
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.table-containersss-mavericks {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: 3px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.table-wrapper-mavericks {
  overflow-x: auto;
}

.players-table-mavericks {
  width: 100%;
  border-collapse: collapse;
}

.table-headerss-mavericks {
  background: black;
}

.table-th-mavericks {
  padding: 15px 10px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.table-th-mavericks:last-child {
}

.table-body-mavericks {
  background: white;
}

.tables-row-mavericks {
}

.row-even-mavericks {
  background: black;
}

.row-odd-mavericks {
}

.table-tdw-mavericks {
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;
  color: white;
}

.table-tdw-mavericks {
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}

.player-id-mavericks {
  color: black;
  font-weight: bold;
}

.player-position-mavericks {
  font-weight: bold;
  color: #8b8b8b; /* Серебристый Dallas Mavericks */
}

.player-age-mavericks {
  color: #00538c; /* Синий Dallas Mavericks */
  font-weight: bold;
}

.roster-badge-mavericks {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
}

.badge-active-mavericks {
  background-color: #00538c; /* Синий Dallas Mavericks */
  color: white;
}

.badge-inactive-mavericks {
  background-color: #8b8b8b; /* Серебристый Dallas Mavericks */
  color: white;
}

.loading-text-mavericks {
  text-align: center;
  color: #00538c; /* Синий Dallas Mavericks */
  font-size: 1.5rem;
  padding: 50px;
}

.first-row-highlight-mavericks {
  background-color: rgba(
    0,
    83,
    140,
    0.637
  ); /* Синий Dallas Mavericks с прозрачностью */
  color: white; /* Белый текст для контраста */
}

.tables-row-mavericks {
  /* Стили для обычных строк */
  background-color: transparent;
}
