.kings-containers {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header-content-kings {
  text-align: center;
  margin-bottom: 30px;
}

.header-title-kings {
  color: #5a2d81; /* Фиолетовый Sacramento Kings */
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.table-containersss-kings {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: 3px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.table-wrapper-kings {
  overflow-x: auto;
}

.players-table-kings {
  width: 100%;
  border-collapse: collapse;
}

.table-headerss-kings {
  background: black;
}

.table-th-kings {
  padding: 15px 10px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.table-th-kings:last-child {
}

.table-body-kings {
  background: white;
}

.tables-row-kings {
}

.row-even-kings {
  background: black;
}

.row-odd-kings {
}

.table-tdw-kings {
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;
  color: white;
}
.table-tdw-kings {
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}

.player-id-kings {
  color: black;
  font-weight: bold;
}

.player-position-kings {
  font-weight: bold;
  color: white;
}

.player-age-kings {
  color: #5a2d81; /* Фиолетовый Sacramento Kings */
  font-weight: bold;
}

.roster-badge-kings {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
}

.badge-active-kings {
  color: white;
  background-color: #5a2d81; /* Фиолетовый Sacramento Kings */
}

.badge-inactive-kings {
  color: black;
  background-color: #8e8e8e; /* Серый для неактивных */
}

.loading-text-kings {
  text-align: center;
  color: #5a2d81; /* Фиолетовый Sacramento Kings */
  font-size: 1.5rem;
  padding: 50px;
}

.first-row-highlight-kings {
  background-color: rgba(
    90,
    45,
    129,
    0.8
  ); /* Фиолетовый Sacramento Kings с прозрачностью */
  color: white; /* Белый текст для контраста */
}

.tables-row-kings {
  /* Стили для обычных строк */
  background-color: transparent;
}
