.lakers-containers {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header-content {
  text-align: center;
  margin-bottom: 30px;
}

.header-title {
  color: #fdb927;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.table-containersss {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: 3px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.table-wrapper {
  overflow-x: auto;
}

.players-table {
  width: 100%;
  border-collapse: collapse;
}

.table-headerss {
  background: #552583;
}

.table-th {
  padding: 15px 10px;
  color: white;

  font-weight: bold;
  text-align: left;
}

.table-th:last-child {
}

.table-body {
  background: white;
}

.tables-row {
}

.row-even {
  background: #552583;
}

.row-odd {
}

.table-tdw {
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;

  color: white;
}
.table-tdw {
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;

  color: black;
}

.player-id {
  color: #552583;

  font-weight: bold;
}

.player-position {
  font-weight: bold;

  color: white;
}

.player-age {
  color: #fdb927;
  font-weight: bold;
}

.roster-badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
}

.badge-active {
  color: white;
}

.badge-inactive {
  color: black;
}

.loading-text {
  text-align: center;
  color: #fdb927;
  font-size: 1.5rem;
  padding: 50px;
}

.first-row-highlight {
  background-color: #552583; /* Фиолетовый цвет */
  color: white; /* Белый текст для контраста */
}

.tables-row {
  /* Стили для обычных строк */
  background-color: transparent;
}
